<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidney Driscoll</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js"></script>

    <style>
        .row {
            height: 100px;
        }
        #container {
            height: 300px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Stock Prices</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5 col-lg-3">
                <label for="stock_ticker" class="form-label">Choose your Stock ticker from the list:</label>
                <form method="POST">
                    <input class="form-control" list="stock_tickers" name="stock_ticker" id="stock_ticker">
                    <datalist id="stock_tickers">
                        <option value="AAPL">
                        <option value="MSFT">
                        <option value="TSLA">
                        <option value="FB">
                    </datalist>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9" id="container">
                <canvas></canvas>
            </div>
        </div>
    </div>


    <script>

        var data = { data }
        var dates = { dates }

        var data_arr = [];
        var dates_arr = [];

        var all_data = [];

        {% for j in data %}
            data_arr.push("{{j}}");
        {%endfor%}

        {% for j in dates %}
            dates_arr.push("{{j}}");
        {%endfor%}

        // console.log(data_arr.length);
        // console.log(dates_arr);

        for (var row=0; row<data_arr.length; row++){
            var short = [];
            short.push(data_arr[row]);
            short.push(dates_arr[row]);
            all_data.push(short);
        }
        console.log(all_data);

        function getData(){
            return all_data;
        }


        // create a dataset on our data
        var dataSet = anychart.data.set(getData());

        // map data for the line chart
        // take x from the zero column and value from the first column
        var firstSeriesData = dataSet.mapAs({ x: 1, value: 0 });

        // var secondSeriesData = dataSet.mapAs({ x: 1, value: 0 });

        // create a line chart
        var chart = anychart.line();
        chart.animation(true);

        // configure chart title text settings
        chart.title("{{title}}")
        chart.yAxis().title("$ Share Price")
        chart.xAxis().title("Year")


        // create a line series with the mapped data
        var lineChart = chart.line(firstSeriesData);
        lineChart.name("Share Price ($)");
        // var lineChart2 = chart.line(secondSeriesData);

        // set the container id for the line chart
        chart.container("container");

        // draw the line chart
        chart.draw();
    </script>
</body>

</html>